
$primary-colour: #e71d36;
$secondary-colour: #2ec4b6;
$black: #011627;
$white: #fdfffc;
$grey: #ccc;
$transparent: rgba(0, 0, 0, 0);
$box-shadow-primary: rgba(0, 0, 0, .14);
$box-shadow-secondary: rgba(0, 0, 0, .2);
$box-shadow-third: rgba(0, 0, 0, .12);
$box-shadow: 0 2px 2px 0 $box-shadow-primary, 0 3px 1px -2px $box-shadow-secondary, 0 1px 5px 0 $box-shadow-third;

* {
  box-sizing: border-box;
  tap-highlight-color: $transparent;
}

body {
  color: $black;
  font-family: "Open Sans", sans-serif;
  text-size-adjust: none;
  user-select: none;
}

a, .active {
  color: $primary-colour;
}

.active {
  color: $primary-colour !important;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
}

.navigate-right:after {
  right: 20px;
  font-size: 25px;
}

.btn {
  box-shadow: $box-shadow;

  &.btn-positive {
    background-color: $secondary-colour;
    border: 1px solid $secondary-colour;
  }

  &.btn-negative {
    background-color: $primary-colour;
    border: 1px solid $primary-colour;
  }
}

.card {
  background: none;
  border: 0;
}

.mdl-textfield {
  width: 100%;
}

.content {
  background: $white;
}

.tab-item {
  &.active,
  &:active {
    color: $primary-colour;
  }
}

#app .bar a .tab-item[data-action="index"] {
  color: $primary-colour;
}

header.bar {
  background: $primary-colour;
  color: $white;

  &.bar-nav {
    transform: translateZ(0);
  }

  .title {
    color: $white;

    &.logo {
      background: url('../img/logo-light.png') no-repeat 50% / auto 60%;
      overflow: hidden;
      text-indent: -100000000rem;
    }
  }

  a {
    color: $white;
  }
}

.navigate-right::after,
.push-right::after {
  color: $primary-colour;
}

.bar-footer {
  transform: translateZ(0);
}

.bar-header-secondary {
  background: $white;
  height: 70px;
  transform: translateZ(0);

  &~.content {
    padding-bottom: 50px;
    padding-top: 114px;
  }

  .search {
    padding: 10px 0;

    #clearsearchinput {
      display: inline-block;

      &.hidden {
        display: none;
      }
    }

    input {
      border-bottom: 3px solid $primary-colour;
      border-left: 0;
      border-radius: 0;
      border-right: 0;
      border-top: 0;
      display: inline-block;
      font-size: 25px;
      padding-bottom: 0;
      padding-top: 0;
      text-align: center;
      vertical-align: middle;
      width: 70%;
    }

    input::-webkit-input-placeholder {
      font-size: 18px;
      line-height: 2;
      vertical-align: bottom;
    }

    input::-moz-placeholder {
      font-size: 18px;
      line-height: 2;
      vertical-align: bottom;
    }

    input:-ms-input-placeholder {
      font-size: 18px;
      line-height: 2;
      vertical-align: bottom;
    }

    span {
      text-align: center;
      width: 15%;
    }

    p {
      margin-bottom: 0;
      text-align: center;
    }
  }
}

.loader {
  background: $primary-colour;
  bottom: 0;
  color: $white;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 9999999999999;

  img {
    margin: 20% auto 10px;
    width: 40%;
  }

  h1 {
    margin-top: 1rem;
  }

  p {
    color: #fdfffc;
    margin: 20px auto;
    font-size: 16px;
    width: 80%
  }
}

.popupOverlay {
  background: rgba(0, 0, 0, .5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;

  div {
    background: $white;
    left: 50%;
    padding: 1rem;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  img {
    margin-bottom: 1rem;
    width: 20%;
  }

  p {
    text-align: inherit;
  }

  .btn {
    background: $primary-colour;
    margin-bottom: 0;
  }
}

.center-icon {
  display: block;
  margin: 2rem auto;
  width: 25%;
}

form {
  padding: 2rem 0;
}

#signup,
#verify {
  padding-top: 20%;

  h3 {
    margin: auto;
    width: 60%;
  }

  input[type='submit']:disabled {
    opacity: 0;
  }

  .btn-outlined {
    border-color: $white;
    color: $white;
  }
}

#signup,
#singin,
#skip,
#verify,
#welcome {
  background: url('../img/bg-img.jpg') center / cover no-repeat;
  height: 100%;
  padding: 1rem;
  position: fixed;
  text-align: center;
  width: 100%;

  h1,
  h2,
  h3,
  h4,
  p {
    color: $white;
  }
}

#signup,
#singin {

  p {
    color: $white;
  }

  h1 {
    margin-top: 20%;
  }

  .logo {
    margin: 1rem 0 auto;
    width: 50%;
  }

  form {
    margin-top: 2rem;
  }

  .absolute-bottom {
    bottom: 4rem;
    left: 1rem;
    position: absolute;
    right: 1rem;
    text-align: center;
  }

  label[for=phonenumber]::before {
    color: $black;
    content: 'GB(+44)';
    display: block;
    height: 40px;
    padding: 10px 15px;
    position: absolute;
  }
}

#phonenumber {
  color: $black;
  padding-left: 85px;
}

#map,
#showLocation {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#showLocation {
  #map {
    position: relative;

    p {
      margin-bottom: 0;
    }
  }

  .btn-wrapper {
    background: $white;
    bottom: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, .85);
    left: 0;
    padding: 0 10px;
    position: fixed;
    right: 0;

    .btn {
      margin: 15px 0;
      width: 100%;
    }
  }
}

#results {
  background: $grey;

  .content {
    padding-bottom: 50px;
  }

  .route-results {
    li {
      div {
        display: inline-block;
        width: 50%;

        &:first-child {
          margin-bottom: 10px;
        }
      }
      h2::before {
        background: url('../img/icons/clock-icon.svg') center / contain no-repeat;
        content: '';
        display: inline-block;
        height: 1.5rem;
        margin-right: .5rem;
        vertical-align: middle;
        width: 1.5rem;
      }

      h3 {
        margin: 0;
        font-size: 20px;
      }
    }
  }

  .route-parts li {
    padding-right: 15px;

    h2::before {
      height: 2rem;
      margin-right: .5rem;
      width: 3rem;
    }

    h2:first-child {
      font-size: 1.4rem;
      text-transform: uppercase;
    }

    h2:first-child[data-type='foot']::before {
      background: url('../img/icons/foot.svg') center / contain no-repeat;
    }

    h2:first-child[data-type='bus']::before {
      background: url('../img/icons/bus.svg') center / contain no-repeat;
    }

    h2:first-child[data-type='train']::before {
      background: url('../img/icons/train.svg') center / contain no-repeat;
    }

    h2:first-child[data-type='tube']::before {
      background: url('../img/icons/tube.svg') center / contain no-repeat;
    }

    .time {
      color: $black;
      font-size: 1.2rem;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }

    div {
      margin-bottom: .5rem;
      vertical-align: top;

      &:nth-child(2n+2) {
        text-align: right;
        width: 30%;
      }

      &:nth-child(2n+1) {
        width: 70%;
      }

    }

    .btn {
      position: initial;
      right: initial;
      top: initial;
      transform: initial;
    }
  }
}
