{
  "extends": "airbnb",
  "env": {
    "es6": true,
    "mocha": true,
    "node": true,
    "browser": true
  },
  "globals": {
    "StatusBar": 1,
    "helpers": 1,
    "storage": 1,
    "Hammer": 1,
    "promise": 1,
    "MyApp": 1,
    "cordova": 1,
    "google": 1,
    "moment": 1,
    "Handlebars": 1,
    "Connection": 1
  },
  "rules": {
    "comma-dangle": ["error", "never"],
    "new-cap": ["error", {"capIsNewExceptions": ["Router"]}],
    "max-len": ["error", { "ignoreUrls": true, "code": 100 }]
  }
}
