<section class="search">
    <p>Where are you going?</p>
    <div class="searchIcon"></div><input type="text" id="searchInput" placeholder="Search by street address"/><a data-action="clearsearchinput"></a>
</section>