<h1>Welcome to</h1>
<img src="img/logo-light.png" class="logo"/>
<form data-action="validate">
    <label for="phonenumber">
        <input type="tel" name="telephone" id="phonenumber" placeholder="Phone number"/>
    </label>
    <p>Enter your phone number to create a secure account.</p>
    <input type="submit" value="Next" class="btn btn-light btn-block"/>
</form>
<p class="absolute-bottom" data-action="welcome">Already have an account?</p>
<p class="skip" data-action="skip">Skip ></p>