<h1>Are you sure?</h1>
<p>By signing up, you are creating a unique and secure ID. Plus you will gain access to extra unique features and benefits.</p>
<img class="center-icon" src="img/icons/chat-heart.svg"/>
<button class="btn btn-light btn-block" data-action="signUp">Back</button>
<a class="skip" data-action="registerguest">Skip anyway ></a>