<p>A verification code has been sent to you by text message.</p>
<a data-action="resendValidationCode">Send it again</a>
<img class="center-icon" src="img/icons/envelope-icon.svg"/>
<form data-action="checkValidation">
    <label for="verificationCode">
        <input type="text" name="verificationCode" id="verificationCode" placeholder="Verification Code"/>
    </label>
    <input type="submit" value="Next" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"/>
</form>
<p class="back" data-action="signUp">< Back</p>
